mixin img(path, image, format, width, height, altText)
  img(src="img/" + path + "/" + image + '.' + format, width= width, height= height, alt= altText, srcset= "img/" + path + "/" + image + "@2x." + format + " 2x")
