mixin modal-content-width()
  style.
    .modal-content-width {
      width: 200px;
      min-height: 300px;
    }
  .modal-content-width
    p Это модалка передаётся миксином.
    p 'modal--content-width' передав этот класс модалка будет подстраиваться под ширину контента
