mixin modal(cssClass)
  div(class="modal modal--preload " + cssClass)
    .modal__wrapper
      .modal__overlay
      .modal__content
        if block
          block
        button.modal__close-btn.btn(type='button' aria-label='Закрыть попап')
          +icon('icon-close', 15, 15)
